Django>=2.2.2
psycopg2
beautifulsoup4==4.7.1
boto
boto3
datadog==0.21.0
ipython
django-extensions
django-storages
djangorestframework>=3.10
django-pure-pagination
django-localflavor
-e git+https://github.com/newsdev/fec2json@85ccc7dae5406c75e47ac56648e7efef87247c1a#egg=fec2json
gunicorn
lxml==4.6.5
markupsafe
mkdocs
requests
python-dotenv
systemd-python
