Django>=2.2.2
psycopg2
beautifulsoup4==4.7.1
boto
boto3
datadog==0.21.0
django-extensions
django-storages
djangorestframework
django-pure-pagination
django-localflavor
-e git+https://github.com/capitolmuckrakr/fec2json@67df445758ca4b4f81a979e3c49ba9a72b8a00f6#egg=fec2json
gunicorn
lxml==4.3.3
markupsafe
mkdocs
requests
python-dotenv
systemd-python
uwsgi
