{% extends 'base.html' %}

{% block navbar %}

 <div class="navbar navbar-default navbar-primary">
      <div class="container">
        <div class="navbar-header">
          <div class="logo-links__cnn"></div>
          
          <a class="navbar-brand" href="/2020">FEC 2020</span></a>
        </div>
         <ul class="nav navbar-nav navbar-right navbar-bits">
          <li><a href="{%url '2020:filings'%}">Filings</a></li>
          <li><a href="{%url '2020:contributions'%}">Receipts</a></li>
          <li><a href="{%url '2020:expenditures'%}">Expenditures</a></li>
          <li><a href="{%url '2020:ies'%}">IEs</a></li>
          <li><a href="{%url '2020:races'%}">Races</a></li>
        </ul>

      </div>
    </div>

<div id="content" class="container">
      {% block content %}{% endblock %}
</div>

{% endblock %}
