{% extends '2020/base.html' %}
{% load humanize %}


{% block content %}
<h1> Filing Status </h1>
<h3> for debugging and QA </h3>

<div class="row">
{% if results %}
 
<div class="page-header row">
<div class="header-title">
</div>
</div>
<table class="table table-bordered table-striped">
    <tr>
        <th> Filing number </th>
        <th> Status </th>
        <th> Status create time </th>
        <th> Status update time </th>
        <th> Raw FEC link </th>
    </tr>

    {% for f in results %}
    <tr>
        <td> {{ f.filing_id }} </td>
        <td> {{ f.status }} </td>
        <td> {{ f.created }} </td>
        <td> {{ f.updated }} </td>
        <td> <a href='http://docquery.fec.gov/csv/{{f.filing_id|make_list|slice:"-3:"|join:""}}/{{f.filing_id}}.csv'>Download</a>
    </tr>
    {%endfor%}
</table>
</div>

{% include 'pagination.html' %}

{% endif %}

{% endblock %}