{% extends '2020/base.html' %}
{% load humanize %}


{% block content %}

<h2> Races with IEs </h2>
<table class="table">
    <tr>
        <th> District </th>
        <th> Total IEs </th>
        <th> &nbsp; </th>
    </tr>
    {% for race in races %}
    <tr>
        <td> {{race.cnn_district}} </td>
        <td align="right"> ${{race.expenditure_amount__sum|floatformat:2|intcomma}}</td>

        <td> <a href="{%url '2020:ies'%}?cnn_district={{race.cnn_district}}">View district IEs</a></td>
    </tr>
    {% endfor %}
</table>
        

{% endblock %}