{% extends 'base.html' %}

{% block navbar %}

 <div class="navbar navbar-default navbar-primary">
      <div class="container">
        <div class="navbar-header">
          <div class="logo-links__cnn"></div>
          <a class="navbar-brand" href="/">FEC</span></a>

            <span style="
            color: #737373;
            font-weight: light;
            font-family: CNN Condensed, CNN, CNN Sans Display, CNN Sans, Helvetica Neue, Helvetica, Utkal, Arial, sans-serif;
            padding: 10px 15px;
            ">CNN-processed campaign finance data</span>
        </div>


      </div>
    </div>

<div id="content" class="container">
      {% block content %}{% endblock %}
</div>

{% endblock %}
